html,
body {
	height: 100%;
	margin: 0;
	padding: 0;
	background-color: lightgrey;
}

#root {
	height: 100%;
}

.receiptTitle {
	font-family: 'Lobster Two', sans-serif;
	font-size: 1.8rem;
	margin-bottom: 10px;
}

body {
	font-family: 'poppins', sans-serif;
	margin: 0;
	padding: 0;
	overflow: hidden; 
}

.receipt-page {
	display: flex;
	flex-direction: column;
	height: 100vh;
	width: 100%;
	background-color: #f3f4f6;
	overflow: hidden;
}

.top-section {
	display: flex;
	flex: 6; 
	position: relative;
	width: 100%;
	overflow: hidden;
	justify-content: center;
	text-align: center;


}

.back-button {
	position: absolute;
	top: 1rem;
	left: 1rem;
}

.receipt-image {
	width: 60%;
	display: flex;
	object-fit: cover;
	align-self: center;
	justify-content: center;
	filter: brightness(100%);
	border-radius: 5%;
}

.receipt-page h2 {
	font-weight: 650;
	font-size: 1.1rem;
	
}

.receipt-title {
	position: absolute;
	bottom: 0;
	width: 29%;
	background-color: rgba(0, 0, 0, 0.4);
	backdrop-filter: blur(4px); 
	color: white;
	font-size: 1.5rem;
	font-weight: 300;
	text-align: center;
	padding: 1rem 0;
	margin-bottom: 0%;
}

.bottom-section {
	flex: 4; /* 40% height */
	width: 100%;
	background: white;
	position: relative;
	overflow: hidden;
}

.scrollable-content {
	height: 100%;
	overflow-y: scroll;
	padding: 1rem;
	padding-bottom: 3rem;
}

.ingredients-header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1rem;
}

.cooking-time {
	background-color: #f3f4f6;
	color: #4b5563;
	padding: 0.25rem 0.75rem;
	border-radius: 9999px;
	font-size: 0.875rem;
}

.ingredients-list {
	list-style-type: disc;
	padding-left: 1.5rem;
	margin-bottom: 1rem;
}

.description-text {
	color: #4b5563;
	line-height: 1.6;
	margin-bottom: 5%;
}

.fade-bottom {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 4rem;
	background: linear-gradient(to top, white, rgba(255, 255, 255, 0));
	pointer-events: none;
}

.fridge-home {
	background-color: #e0f2fe; /* soft light blue */
	min-height: 100vh;
	padding: 2rem;
  }